@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat&display=swap");

body{
    background-color: #002E48;
    
}

.container{
    width: 80%;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 6rem 5rem;
   
}
.content{
    background-color: #12344f;
    width: 850px;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid #002E48;
    border-radius: 25px 0 0 25px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}

.login{
    display: flex;
}

.discover img{
    width: 100%;
}

.discover{
    width: 40%;
    text-align: right;
   
}

.log{
    width: 60%;
    text-align: center;
}

.loginheader h3{
font-family: 'Circular Std', Arial, sans-serif;
font-size: 40px;
font-weight: 700;
line-height: 61.62px;
text-align: left;
color: white;
margin: auto;
}

.loginheader {
    text-align: center;
    margin: auto;
    margin:  3rem 0 1rem 6.5rem ;
}


.input-container {
    position: relative;
    margin-bottom: 10px;
}

.input-field {
    padding: 10px 40px 10px 30px; 
    border: 2px solid #ffffff;
    border-radius: 25px;
    background-color: #ffffff;
    color: #00507C;
    width: 60%;
    box-sizing: border-box;
}

.icon {
    position: absolute;
    left: 7rem;
    top: 50%;
    transform: translateY(-50%);
    color: #1852F2;
}

.input-field::placeholder {
    color: #00507C; 
}



.btnn{
    margin-top: 2rem;
    margin-bottom: 2rem;
}




.acctbtn{
    border: 2px solid #1852F2;
    background-color: #1852F2;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 10px;
}

input[type="checkbox"] {
    display: none;
}

.custom-checkbox{
    
        width: 10px;
        height: 10px;
        background-color: #fff;
        border: 2px solid #999;
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle; 
        margin-right: 10px;  
}

input[type="checkbox"]:checked + .custom-checkbox {
    background-color: black;
}

  .checkbox-label{
    font-family: 'Circular Std', Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 23.7px;
    text-align: left;
    color: white;
    display: flex;
    gap: 0.3rem;
  }
  

  .check{
    display: flex;
    align-items: center;
    margin-left: 6.5rem;
    margin-top: 1rem;
  }
  .terms{
    color: #ff6600;
  }
    

.already{
    display: flex;
    gap: 0.3rem;
    margin-left: 11rem;
    font-family: 'Circular Std', Arial, sans-serif;
font-size: 13px;
font-weight: 500;
line-height: 23.7px;
color: #ffffff;

}

.sign{
    color:#ff6600 ;
}

.cont1{
    display: none;
}

@media screen and (max-width: 1440px) {
    
}


@media screen and (max-width: 1024px) {
    .container{
        width: 80%;
       margin: 6rem 5rem;
    }
    
}


@media screen and (max-width: 900px) {
    .content{
        width: 650px;
    }
  
    .input-field {
        width: 70%;
    }

    .loginheader h3{
        font-size: 30px;        
        }
        .loginheader {
            margin:  1rem 0 0rem 4rem ;
        }

        .icon {
            left: 4.5rem;
        }

    .check{
        margin-left: 3.3rem;
      }

      .already{
        margin-left: 7rem;
        margin-top: -1rem;
    }
}

@media screen and (max-width: 650px) {   
.container{
    margin: 6rem 2rem;
}

.content{
    width: 550px;
}
.input-field {
    padding: 5px 100px 5px 25px; 
    width: 60%;
}

.loginheader h3{
    font-size: 25px;        
    }
    
    .icon {
        left: 4.5rem;
    }

.check{
    margin-left: 4rem;
    
  }

  .checkbox-label{
    font-size: 8px;
  }

  .btnn{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.acctbtn{
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 9px;
}

  .already{
    margin-left: 5.5rem;
    margin-top: 0rem;
}


}


@media screen and (max-width: 580px) {
    .container{
        margin: 6rem 0rem;
    }
}


@media screen and (max-width: 390px) {

    .container{
        margin: 2rem 0.5rem;
        text-align: center;
    }

    .content{
        width: 350px;
        text-align: center;
    }

    .login{
        display: block;
    }

    .discover img{
        width: 100%;
    }
    
    .discover{
        width: 100%;
        text-align: center;
    }

    .cont2{
        display: none;
    }

    .cont1{
        display: inline-block;
    }

    .log{
        width: 100%;
        text-align: center;
    }

    .loginheader h3{
        font-size: 40px;
        text-align: center;
        }
        
        .loginheader {
            text-align: center;
            margin: auto;
            margin:  3rem 0 1rem 0rem ;
        }

        .input-field {
            padding: 7px 60px 7px 25px;
            width: 80%;
        }
   
        .icon {
            left: 2.7rem;
        }
        .check{
            margin-left: 2rem;
            margin-top: 1rem;
          }
        
          .checkbox-label{
            font-size: 12px;
          }
        
          .btnn{
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        .acctbtn{
            border-radius: 5px;
            padding: 10px 15px;
            font-size: 12px;
        }
        
          .already{
            margin-left: 5.5rem;
            margin-top: 0rem;
            margin-bottom: 2rem;
        }
}

