@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat&display=swap");

body{
    background-color: #002E48;
    width: 1200px;
/* height: 1080px;
top: -3494px;
left: 770px;
gap: 0px;
opacity: 0px; */

}

.container{
    background-color: #063E5E;
    width: 80%;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20rem 0;
   
}
.content{
    width: 80%;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    
}

.discover{}

/* .content{
    width: 60%;

}



.container{
    background-color: #002E48;
}


.input-field {
    padding: 10px 40px 10px 30px;
    margin-bottom: 10px;
    border: 2px solid #ffffff;
    border-radius: 25px;
    background-color: #ffffff;
    color: #00507C;
    width: 100%; 
    box-sizing: border-box; 
}

.input-container {
    position: relative;
    width: 100%; 
}
.formcontainer{
    width: 60%;
}

.icon {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    color: #555; 
}
.discover {
    background-image: url(images/loginbacknew.png) ;
    background-size: 100%; 
    background-repeat: no-repeat; 
    background-position: center; 

    width: 40%;
    height: 800px;
}

.login{
    display: flex;
    width: 60%;
}
.log{
    background-color: #00507C33;
} */

